<div class="layout">

    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">

            <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
                <div class="font-bold text-center">
                    <img src="https://3.bp.blogspot.com/-CRukF81Iz1o/VD6oZawAWII/AAAAAAAABqk/QlW94RA9ZVY/s1600/LOGO%2BISPA.png" alt="Error" width="200px" style="position: relative; z-index: 10;">
                </div>
                <!-- Heading -->
                <h1 class="font-bold text-center">Registro</h1>

                <!-- Text -->
                <p class="text-center mb-6">Ingresa tus datos.</p>

                <!-- ngForm: Crea una instancia de nivel superior y la vincula a un formulario para realizar un seguimiento del valor agregado del formulario y el estado de validación.
                ngSubmit: (ngSubmit) es el método que usaremos para enviar todo los valores del formulario a nuestra lógica, lo que en html normal es nuestra propiedad action. onSubmit() es la función que creamos en ts, en este caso paso el id del form para borrar todos los input mediante código, pero no es obligado hacer esta acción -->
                <form class="mb-6" #registroForm="ngForm" (ngSubmit)="onSubmit(registroForm)">

                    <!-- Name -->
                    <div class="form-group">
                        <label for="name" class="sr-only">Nombre</label>
                        <input type="text" class="form-control form-control-lg" id="name" placeholder="Ingresa tu nombre" #nombre="ngModel" name="nombre" [(ngModel)]="user.nombre">
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email" class="sr-only">Correo</label>
                        <input type="email" class="form-control form-control-lg" id="email" placeholder="Ingresa tu correo" #email="ngModel" name="email" [(ngModel)]="user.email">
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label for="password" class="sr-only">Contraseña</label>
                        <input type="password" class="form-control form-control-lg" id="password" placeholder="Crea una Contraseña" #password="ngModel" name="password" [(ngModel)]="user.password">
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-lg btn-block btn-primary" type="submit">Registrarme</button>
                </form>

               <!-- QUITAMOS EL BOTON -->

            </div>
        </div> <!-- / .row -->
    </div>

</div><!-- .layout -->
